* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

.page {
  font-family: "Titillium Web";
  overflow: hidden;
  overflow-y: hidden;
  color: #fefefe;
  font-size: 1.6rem; }

.page span {
  color: #de5e60; }

/* Slider ---------------------------------------------------------------
--------------------------------------------------*/
.one-time {
  width: 100vw;
  height: 100vh; }

.one-time div {
  width: 100vw;
  background: url(../assets/img/Brushed2.jpg);
  height: 100vh;
  outline: none; }

.one-time img {
  position: relative;
  display: block;
  margin: auto;
  top: calc((100vh/2) - (52px/2)); }

.one-time .slick-arrow {
  height: 50px;
  width: 50px;
  background: url(../assets/img/arrow-down.png) 18px 17px no-repeat #26292e;
  text-indent: -99999px;
  border: none;
  outline: none;
  position: absolute;
  z-index: 2; }
  .one-time .slick-arrow:hover {
    background-color: #de5e60; }

.one-time .slick-next {
  background-image: url(../assets/img/arrow-down1.png); }

.one-time .slick-arrow.slick-prev {
  left: 0;
  bottom: 0; }

.one-time .slick-arrow.slick-next {
  left: 50px;
  bottom: 0; }

.slick-dots {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
  background-color: #2f3238;
  padding: 20px 0; }

#slick-slide00, #slick-slide01, #slick-slide02 {
  text-indent: -9999px;
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

.slick-dots li {
  margin-right: 1rem;
  list-style: none; }

#slick-slide00:hover, #slick-slide01:hover, #slick-slide02:hover {
  background-color: #de5e60;
  cursor: pointer; }

/* HEADER ------------------------------------------------------------------------------------
----------------------------------------------------------------------------*/
.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background: #26292e; }

.header .logo {
  padding: 2.4rem; }

.navigation .menu {
  margin-top: 25px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between; }

.navigation .menu li {
  list-style: none;
  margin-right: 48px; }

.navigation .menu a:hover {
  color: #de5e60; }

.navigation .menu li:last-child {
  margin-right: 25px; }

.navigation .menu a {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #fefefe; }

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: calc(30% + 34px);
  left: calc(-1 * (30% + 34px));
  transition: left 1s;
  background: rgba(0, 0, 0, 0.8); }

.active {
  left: 0; }

.navigation {
  position: relative; }

.header__button {
  margin-bottom: 1rem;
  float: right;
  padding: .6rem;
  position: relative;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
  display: block;
  top: -40px;
  height: 24px;
  width: 34px; }

.header__button::before {
  content: '';
  height: 4px;
  width: 34px;
  position: absolute;
  top: 6px;
  left: 0;
  background: #fff; }

@media screen and (min-width: 768px) {
  .menu {
    position: static;
    width: 100%;
    background: none; }
  .navigation {
    position: static; }
  .header__button {
    display: none; } }

/* MAIN -------------------------------------------------------------------------------------------
-----------------------------------------------------------------------*/
.ourWorkWrapper {
  background: #2f3238; }

.ourWork, .aboutUs, .getInTouch {
  max-width: 1170px;
  margin: auto; }

.main h2, .main h3 {
  text-align: center; }

.main h2 {
  padding-top: 100px;
  font-size: 4.8rem; }

.main h3 {
  font-size: 2.4rem;
  margin-bottom: 100px; }

main h3 span {
  color: #de5e60; }

.section .aside {
  padding-bottom: 4rem; }

.section .aside h4 {
  text-transform: uppercase;
  font-size: 2.4rem; }

.aside ul li {
  list-style: none;
  margin-top: 30px; }

.aside ul a {
  text-decoration: none;
  color: #fff; }

.main .content {
  height: 200px;
  background: #26292e;
  margin-bottom: 30px; }

.ourWork .article:nth-of-type(2n+3) div {
  background: #32353b; }

.ourWork .article:nth-of-type(6) div {
  background: #de5e60; }

.ourWork li a {
  color: #7f8289; }

.ourWork li a:hover {
  color: #de5e60; }

@media screen and (max-width: 1024px) {
  .section .aside {
    text-align: center; } }

@media screen and (min-width: 1170px) {
  .ourWork .aside {
    margin-bottom: 325px; } }

/* About US ----------------------------------------------------------------
--------------------------------------------------*/
.aboutUsWrapper {
  background: #26292e; }

.aboutUs .content {
  height: 270px;
  background: #2f3238; }

.aboutUs .content p {
  text-align: center;
  font-size: 2rem;
  padding-top: 115px; }

.aboutUs .contentRed {
  background: #de5e60; }

.aboutUs .article h3 {
  text-align: left;
  margin-bottom: 1.5rem; }

.aboutUs .article {
  margin-bottom: 10rem; }

.aboutUs .social img {
  margin-right: 1.5rem; }

.aboutUs .border {
  border-left: 4px solid #de5e60; }

.aboutUs .border h3 {
  padding-top: 3rem;
  text-transform: uppercase; }

.aboutUs .border p {
  padding-bottom: 3rem; }

.aboutUs .border h3::first-word {
  color: #de5e60; }

.aboutUs .purchase a {
  position: relative;
  left: 80px;
  top: 80px;
  color: #fefefe;
  text-decoration: none;
  padding: 1.5rem 3rem;
  background: #3c3f45; }

.aboutUs .purchase a:hover {
  background: #de5e60; }

/* .Get In Touch --------------------------------------------------------------
------------------------------------------*/
.getInTouchWrapper {
  background: #2f3238; }

.getInTouch .formMessage {
  margin-bottom: 100px;
  display: flex;
  flex-flow: column; }

.formMessage input {
  text-align: top;
  outline: none;
  padding-left: 20px;
  background: #26292e;
  border: none;
  color: #7f8289;
  height: 60px; }

.formMessage .submit {
  width: 170px;
  padding: 20px 55px;
  background: #3c3f45;
  color: #fefefe; }

.formMessage .submit:hover {
  background: #de5e60; }

.formMessage .text2 {
  height: 400px;
  margin-bottom: 30px; }

.getInTouch h3 {
  font-weight: 300;
  text-align: center;
  margin-bottom: 100px; }

.getInTouch p {
  text-align: center; }

@media screen and (min-width: 768px) {
  .getInTouch p {
    text-align: left; }
  .getInTouch h3 {
    text-align: left; } }

.formMessage .text, .formMessage .email {
  border-bottom: 0.5px solid grey; }

.footerWrapper p {
  text-align: center; }

.footerWrapper .searching {
  text-align: center;
  background: #26292e; }

.searching p {
  padding: 115px 0 70px 0;
  font-size: 2.0rem;
  color: #7f8289; }

.searching img {
  padding-bottom: 3rem; }

.searching span:nth-of-type(2) {
  color: #fefefe; }

.footerWrapper .social {
  background: #2f3238; }

.footerWrapper .copyright {
  background: #26292e; }

.copyright span:nth-of-type(2) {
  color: #fefefe; }

.footerWrapper .copyright p {
  padding: 25px 0;
  font-size: 1.2rem; }

.footerWrapper .social a {
  width: 70px;
  height: 70px;
  background: #26292e; }
