* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%; }

.page {
  overflow: hidden;
  color: #fff; }

.one-time {
  width: 100vw;
  height: 100vh; }

.one-time div {
  width: 100vw;
  background: url(../assets/img/Brushed2.jpg);
  height: 100vh;
  outline: none; }

.one-time img {
  position: relative;
  display: block;
  margin: auto;
  top: calc((100vh/2) - (52px/2)); }

.one-time .slick-arrow {
  height: 50px;
  width: 50px;
  background: url(../assets/img/arrow-down.png) 18px 17px no-repeat #26292e;
  text-indent: -99999px;
  border: none;
  outline: none;
  position: absolute;
  z-index: 2; }
  .one-time .slick-arrow:hover {
    background-color: #de5e60; }

.one-time .slick-next {
  background-image: url(../assets/img/arrow-down1.png); }

.one-time .slick-arrow.slick-prev {
  left: 0;
  bottom: 0; }

.one-time .slick-arrow.slick-next {
  left: 50px;
  bottom: 0; }

.slick-dots {
  position: relative;
  top: -50px;
  display: flex;
  justify-content: center;
  background-color: #2f3238;
  padding: 20px 0; }

#slick-slide00, #slick-slide01, #slick-slide02 {
  text-indent: -9999px;
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 50%; }

.slick-dots li {
  margin-right: 1rem;
  list-style: none; }

#slick-slide00:hover, #slick-slide01:hover, #slick-slide02:hover {
  background-color: #de5e60; }

/* HEADER ------------------------------------------------------------------------------------
----------------------------------------------------------------------------*/
.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background: #26292e; }

.header .logo {
  padding: 2.4rem; }

.navigation .menu {
  margin-top: 25px;
  display: flex;
  justify-content: space-between; }

.navigation .menu li {
  list-style: none;
  margin-right: 48px; }

.navigation .menu a:hover {
  color: #de5e60; }

.navigation .menu li:last-child {
  margin-right: 25px; }

.navigation .menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff; }

/* MAIN -------------------------------------------------------------------------------------------
-----------------------------------------------------------------------*/
.main {
  background: #2f3238; }

.mainContent {
  max-width: 1170px; }

.main h2, .main h3 {
  text-align: center; }

.main h2 {
  padding-top: 100px; }

main h3 span {
  color: #de5e60; }
