doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body 
		.slider
			.firstSlide
				p BRUSHED
			.secondSlide
				p BRUSHED
			.thirdSlide
				p BRUSHED
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/user.js")
		script(src="js/slick/slick.min.js")

		