doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body
	.page
		.one-time
			.firstSlide
				img(src="assets/img/Brushed.png", alt="logo")
			.secondSlide
				img(src="assets/img/Brushed.png", alt="logo")
			.thirdSlide
				img(src="assets/img/Brushed.png", alt="logo")
		header.header
			.logo
				img(src="assets/img/logo.png", alt="logo")
			nav.navigation
				ul.menu
					li
						a(href="") home
					li
						a(href="") our work
					li
						a(href="") about us
					li
						a(href="") contact
		main.main
			.mainContent.container-fluid
				h2 Our Work
				h3 See Also Great Stuff on 
					span Dribbble.
				section.section.row
					article.article.aside.col-lg-3
						h4 Type of work
						ul
							li
								a(href="") All
							li
								a(href="") Icons
							li
								a(href="") 3D
							li
								a(href="") UX/UI
							li
								a(href="") Concepts
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
					article.article.col-lg-3
						.content
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/user.js")

		