doctype html

include var/global.pug
include var/mixins.pug

html
	include includes/head.pug
	body 
		.one-time
			.firstSlide
				img(src="../assets/img/Brashed.png")
			.secondSlide
				img(src="../assets/img/Brashed.png")
			.thirdSlide
				img(src="../assets/img/Brashed.png")
		script(src="js/jquery-3.2.1.min.js")
		script(src="js/slick.min.js")
		script(src="js/user.js")

		